@charset "utf-8";
#container .synopsis{
	color: #666666;
}
#container .synopsis h2 {
	font-size: 25px;
	font-weight: normal;
	border-bottom: 1px dashed #CCCCCC;
	padding-bottom: 15px;
	margin: 20px 0;
}
#container .synopsis p{
	line-height: 2;
	font-size: 18px;
	text-indent: 2em;
	color: #333333;
	
}
#container .synopsis li{
	font-style: normal;
	line-height: 1.8;
	font-size: 18px;
	color: #333333;
}
